Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -modernize-use-trailing-return-type,
        -zircon-*,
        -readability-else-after-return,
        -readability-static-accessed-through-instance,
        -readability-avoid-const-params-in-decls,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -misc-non-private-member-variables-in-classes,
        -misc-no-recursion,
        -misc-use-anonymous-namespace,
        -misc-use-internal-linkage,
        -readability-identifier-length,
        -hicpp-uppercase-literal-suffix,
        -readability-uppercase-literal-suffix,
        -boost-use-ranges,
        -portability-avoid-pragma-once,
        -misc-include-cleaner,
        -cppcoreguidelines-pro-bounds-constant-array-index,
        -cppcoreguidelines-pro-bounds-pointer-arithmetic
"

WarningsAsErrors: '*'
HeaderFilterRegex: '.*[\\/]src[\\/].*'